<!DOCTYPE html>

<html>

<head>
    <script src="https://unpkg.com/react@16.7.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <style>
        #random-fruit {
            color: red;
            font-style: oblique;
        }
        #counter {
            color: green;
            font-weight: bold;
            font-family: monospace;
        }
        .fruits-img {
            height: 300px;
            width: 350px;
        }
    </style>
</head>
<body>
    <div id="my-component"></div>
    <div id="my-fruit-list-component"></div>
    <script type="text/babel" src="MyComponent.js"></script>
</body>
</html>